
<h3>Login Here:</h3>
<form action="/login" method="post">
  <label>Username:</label>
  <input type="text" name="username" placeholder="username"><br>
  <label>Password:</label>
  <input type="text" name="password" placeholder="password"><br>
  <input type="submit" id="submit" value="submit">
</form><br>

Don't have an account? <a href="/signup">Sign Up Here</a>
