<!doctype html>
<html>
  <head>
    <title>Share Your Shoes</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Share Your Shoes!</h1>
      <% unless session[:message].nil? %>
        <div>
          <font color="red"><%= session[:message] %></font>
        </div>
        <% session[:message].clear %>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
