<!doctype html>
<html>
  <head>
    <title>Share Your Shoes</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Share Your Shoes!</h1>
      <%= yield %>
    </div>

  </body>
</html>
