<h2>Add a shoe to the collection</h2>

<form action="/shoes" method="post">
  <label>Name:</label><input type="text" name="name"><br>
  <label>Manufacturer:</label><input type="text" name="manufacturer"><br>
  <label>Description:</label><input type="text" name="description"><br>
  <label>Color:</label><input type="text" name="color"><br>
  <label>Cost:</label><input type="text" name="cost"><br><br>
  <input type="submit" name="submit" value="submit">
</form>
